@model IEnumerable<Trackity.Models.Expense>

@{
    ViewData["Title"] = "Trackity Expense Tracker";
}

<h1 class="text-center jumbotron">Trackity Expense Tracker</h1>

<p class="">
    <a asp-action="Create">Add New Expense</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseType.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpenseId" class="text-light">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExpenseId" class="text-light">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExpenseId" class="text-light">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
